<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% seo %}
    {% feed_meta %}
  </head>

  <body>
    <main class="main-content">
      {{ content }}
    </main>
  </body>
</html>
